@import "src/common/style/variables";

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.line {
  width: 100%;
  border-top: 1px solid $line_color;
}

.button {
  background: #F8346B;
  box-shadow: 0px 4px 18px rgba(248, 52, 107, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 2px;
  color:$navigation_bgColor;
  padding: 8px 41px;
  cursor: pointer;
}