@import "src/common/style/variables";
.addBlog {
  &__wrapper {
    padding: 29px 64px 29px 27px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
  }
  &__backToBlogs {
    margin-top: 35px;
    display: flex;
    align-items: baseline;
    gap: 14px;
    margin-bottom: 12px;
  }
  &__backToBlogsLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
  }
  &__img {
    width: 100%;
    height: 312px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 11px;
  &__action {
    font-size: 12px;
    line-height: 16px;
  }
}

