@import "src/common/style/variables";
.newBlogDescription {
  &__label {
    font-size: 14px;
    line-height: 24px;
    color:$blog_website_url;
  }
  &__input {
    display: block;
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $line_color;
    font-size: 16px;
    line-height: 24px;
  }
  &__input:focus {
    outline: none;
  }
  &__textarea {
    border: 1px solid $line_color;
    resize: none;
    display: block;
    width: 100%;
    min-height: 120px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
    background-color: inherit;
  }
  &__textarea:focus {
    outline: none;
  }
  &__newBlogName, &__newBlogWebsiteUrl, &__newBlogDescription, &__button {
    margin-top: 24px;
  }
}